In [1]:
#Câu 5.1
import sqlite3
try:
    conn = sqlite3.connect('test_db.db')
    cursor = conn.cursor()
    cursor.execute('SELECT sqlite_version();')
    version = cursor.fetchone()
    print(f"Phiên bản SQLite hiện tại là: {version[0]}")
    cursor.close()
except sqlite3.Error as e:
    print("Lỗi kết nối:", e)
finally:
    if conn:
        conn.close()

Phiên bản SQLite hiện tại là: 3.49.1

In [2]:
#Câu 5.2
import sqlite3
conn = sqlite3.connect(':memory:')
print("Đã tạo kết nối tới cơ sở dữ liệu SQLite trong bộ nhớ thành công.")
conn.close()

Đã tạo kết nối tới cơ sở dữ liệu SQLite trong bộ nhớ thành công.

In [3]:
#Câu 5.3
import sqlite3
conn = sqlite3.connect('hoc_sinh.db')
cursor = conn.cursor()
# Tạo bảng HocSinh
cursor.execute('''CREATE TABLE IF NOT EXISTS HocSinh (
                    id INTEGER PRIMARY KEY,
                    ten TEXT NOT NULL,
                    tuoi INTEGER)''')
print("Đã tạo bảng HocSinh thành công.")
conn.commit()
conn.close()

Đã tạo bảng HocSinh thành công.

In [4]:
#Câu 5.4
import sqlite3
conn = sqlite3.connect('hoc_sinh.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Danh sách các bảng trong CSDL:")
for table in tables:
    print(f"- {table[0]}")
conn.close()

Danh sách các bảng trong CSDL:
- HocSinh

In [5]:
#Câu 5.5
import sqlite3
conn = sqlite3.connect('cong_ty.db')
cursor = conn.cursor()
cursor.execute('CREATE TABLE IF NOT EXISTS PhongBan (id INTEGER, ten_phong TEXT)')
du_lieu = [(1, 'Ke toan'), (2, 'Nhan su'), (3, 'Ky thuat')]
cursor.executemany('INSERT INTO PhongBan VALUES (?, ?)', du_lieu)
cursor.execute('SELECT * FROM PhongBan')
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.commit()
conn.close()

(2, 'Phong moi')
(3, 'Phong moi')
(2, 'Phong moi')
(3, 'Phong moi')
(1, 'Ke toan')
(2, 'Nhan su')
(3, 'Ky thuat')

In [6]:
#Câu 5.6
import sqlite3
conn = sqlite3.connect('cong_ty.db')
cursor = conn.cursor()
cursor.execute('SELECT COUNT(*) FROM PhongBan')
count = cursor.fetchone()[0]
print(f"Tổng số bản ghi trong bảng PhongBan là: {count}")
conn.close()

Tổng số bản ghi trong bảng PhongBan là: 7

In [7]:
#Câu 5.7
import sqlite3
conn = sqlite3.connect('cong_ty.db')
cursor = conn.cursor()
cursor.execute("UPDATE PhongBan SET ten_phong = 'Phong moi'")
conn.commit()
print("Đã cập nhật dữ liệu thành công.")
conn.close()

Đã cập nhật dữ liệu thành công.

In [8]:
#Câu 5.8
import sqlite3
conn = sqlite3.connect('cong_ty.db')
cursor = conn.cursor()
cursor.execute("DELETE FROM PhongBan WHERE id = 1")
conn.commit()
print("Đã xóa bản ghi thành công.")
conn.close()

Đã xóa bản ghi thành công.

In [9]:
#Câu 5.9
import pandas as pd
import io
csv_data = """REGION_ID,REGION_NAME
11,Europe
12,Americas
13,Asia
14,Middle East and Africa"""
df = pd.read_csv(io.StringIO(csv_data))
print("Nội dung file region.csv:")
print(df)

Nội dung file region.csv:
   REGION_ID             REGION_NAME
0         11                  Europe
1         12                Americas
2         13                    Asia
3         14  Middle East and Africa

In [10]:
#Câu 5.10
import sqlite3
def tao_db():
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS product (
                        Id INTEGER PRIMARY KEY,
                        Name TEXT NOT NULL,
                        Price REAL NOT NULL,
                        Amount INTEGER NOT NULL)''')
    conn.commit()
    conn.close()
def hien_thi():
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM product')
    rows = cursor.fetchall()
    print("Nội dung bảng product:")
    for row in rows:
        print(row)
    conn.close()
def them_san_pham(id, name, price, amount):
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO product (Id, Name, Price, Amount) VALUES (?, ?, ?, ?)', (id, name, price, amount))
    conn.commit()
    conn.close()
def tim_kiem(name):
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM product WHERE Name = ?', (name,))
    rows = cursor.fetchall()
    print(f"Kết quả tìm kiếm cho '{name}':")
    for row in rows:
        print(row)
    conn.close()
def cap_nhat(id, price, amount):
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('UPDATE product SET Price = ?, Amount = ? WHERE Id = ?', (price, amount, id))
    conn.commit()
    conn.close()
def xoa_san_pham(id):
    conn = sqlite3.connect('product.db')
    cursor = conn.cursor()
    cursor.execute('DELETE FROM product WHERE Id = ?', (id,))
    conn.commit()
    conn.close()
tao_db()

In [1]:
import sqlite3

conn = sqlite3.connect('ql_nhan_vien.db')
cursor = conn.cursor()

# Tạo bảng PHONG
cursor.execute('''CREATE TABLE PHONG (
                    id INTEGER PRIMARY KEY,
                    Name TEXT NOT NULL)''')

# Tạo bảng NHAN_VIEN với khóa ngoại id_phong
cursor.execute('''CREATE TABLE NHAN_VIEN (
                    id INTEGER PRIMARY KEY,
                    ho_ten TEXT NOT NULL,
                    tuoi INTEGER NOT NULL,
                    dia_chi TEXT NOT NULL,
                    luong REAL NOT NULL,   
                    Id_phong INTEGER,
                    FOREIGN KEY (Id_phong) REFERENCES PHONG(id))''')

conn.commit()
conn.close()