In [1]:
#Câu 4.4
import pandas as pd
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([4,5,6,7,8])
result = set(ser1)-set(ser2)
print(result)

{1, 2, 3}

In [3]:
#Câu 4.5
import pandas as pd
import numpy as np
ser = pd.Series(np.random.normal(10, 5, 25))
min_val = ser.min()
p25 = ser.quantile(0.25)
median = ser.median()
p75 = ser.quantile(0.75)
max_val = ser.max()
print("Min:", min_val)
print("25th Percentile:", p25)
print("Median:", median)
print("", p75)
print("Max:", max_val)

Min: 0.07986899290178506
25th Percentile: 7.399615711518205
Median: 10.036228023006009
 12.739168214288878
Max: 16.431760299261864

In [12]:
# Câu 4.6
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
counts = ser.value_counts()
print(counts)

a    6
c    5
e    5
b    4
g    4
f    3
h    2
d    1
Name: count, dtype: int64

In [13]:
#Câu 4.7
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2 = ser.value_counts().index[:2]
ser[~ser.isin(top2)] = 'Other'
print(ser)

0         3
1     Other
2     Other
3         3
4         4
5         4
6         3
7         4
8         3
9         3
10    Other
11        4
dtype: object

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17148\2166227551.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(top2)] = 'Other'

In [14]:
#Câu 4.8
ser = pd.Series(np.random.random(20))
deciles = pd.qcut(ser, q=10)
print(deciles)

0        (0.17, 0.28]
1       (0.154, 0.17]
2      (0.675, 0.819]
3     (0.0169, 0.154]
4       (0.464, 0.57]
5       (0.28, 0.347]
6      (0.819, 0.976]
7       (0.57, 0.591]
8      (0.819, 0.976]
9        (0.17, 0.28]
10    (0.0169, 0.154]
11     (0.591, 0.675]
12     (0.675, 0.819]
13      (0.154, 0.17]
14      (0.464, 0.57]
15      (0.28, 0.347]
16     (0.591, 0.675]
17      (0.57, 0.591]
18     (0.347, 0.464]
19     (0.347, 0.464]
dtype: category
Categories (10, interval[float64, right]): [(0.0169, 0.154] < (0.154, 0.17] < (0.17, 0.28] < (0.28, 0.347] ... (0.57, 0.591] < (0.591, 0.675] < (0.675, 0.819] < (0.819, 0.976]]

In [15]:
#Câu 4.9
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(df)

   0  1  2  3  4
0  4  8  1  4  1
1  7  8  5  3  9
2  1  5  1  6  8
3  5  5  3  2  4
4  6  1  2  4  1
5  3  9  1  1  8
6  7  7  1  4  7

In [17]:
#Câu 4.10
ser = pd.Series(np.random.randint(1, 10, 7))
positions = ser[ser % 3 == 0].index
print("Vị trí của các phần tử chia hết cho 3:", positions)

Vị trí của các phần tử chia hết cho 3: Index([1, 5], dtype='int64')

In [18]:
#Câu 4.11
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
result = ser.take(pos)
print(result)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [19]:
#Câu 4.12
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
vertical = pd.concat([ser1, ser2], axis=0)
horizontal = pd.concat([ser1, ser2], axis=1)
print("Vertical Concatenation:\n", vertical)
print("Horizontal Concatenation:\n", horizontal)

Vertical Concatenation:
 0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
Horizontal Concatenation:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [ ]:
#Câu 4.13
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
positions = [pd.Index(ser1).get_loc(i) for i in ser2]
print("Vị trí của các phần tử của ser2 trong ser1:", positions)

Vị trí của các phần tử của ser2 trong ser1: [5, 4, 0, 8]

In [21]:
#Câu 4.14
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mse = np.mean((truth - pred)**2)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.11561801002083408

In [22]:
#Câu 4.15
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser_capitalized = ser.str.title()
print(ser_capitalized)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [23]:
#Câu 4.16
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
diff1 = ser.diff().tolist()
diff2 = ser.diff().diff().tolist()
print("Hiệu số cấp 1:", diff1)
print("Hiệu số cấp 2:", diff2)

Hiệu số cấp 1: [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
Hiệu số cấp 2: [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [24]:
#Câu 4.17
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser_datetime = pd.to_datetime(ser, errors='coerce')
print(ser_datetime)

0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

In [25]:
#Câu 4.18
emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'
result = emails.str.extract(f'({pattern})').dropna()
print(result)

                   0
1  rameses@egypt.com
2          matt@t.co
3  narendra@modi.com

In [ ]:
#Bài 4.19
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'carrot', 'banana', 'apple', 'apple', 'banana', 'carrot', 'apple', 'banana', 'banana']

In [5]:
tinh_trung_binh = pd.DataFrame({'fruit': fruit, 'weight': weight}).groupby('fruit')['weight'].mean()
print(tinh_trung_binh)

fruit
apple     4.5
banana    7.0
carrot    4.5
Name: weight, dtype: float64